<footer class="mainFooter">
  <div>
    <p> Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"> Smashicons </a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></p>
    <p class="ital">Copyright &copy; 2022 Database Galore Co.</p>
  </div>
</footer>