@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Nanum+Gothic&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background: rgba(222, 184, 135, 0.384);
}

main {
  line-height: 1.5;
  max-width: 2000px;
}

/* Side Panel Start*/
.wrapper {
  display: flex;
}

.wrapper .sidePanel {
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgba(32, 178, 171, 0.466);
  padding: 30px;
}

.sidePanel h2 {
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.sidePanel ul {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.sidePanel li {
  padding: 15px;
  border-bottom: 1px solid white;
  list-style: none;
  text-align: center;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.sidePanel li a {
  color: white;
  display: block;
}
/* Side Panel End*/

.format {
  margin-left: 300px;
  font-family: "Nanum Gothic", sans-serif;
}

#titleAbout {
  margin-left: 300px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}

#footer {
  margin-left: 270px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
}
