<nav class="navBar">
    <div class="left">
      <a href="/">Home</a>
      <a href="/stores">Store's Top Sellers</a>
    </div>
    <div class="title">DVD Rentals Database</div>
    <div class="right">
      <a href="/customers">Recently Rented</a>
      <a href="/customers/missingRentals">To be Returned</a>
    </div>
  </nav>