<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Censored</title>

    <style>
      * {
        margin: 0px;
        padding: 0px;
      }
      body {
        background-color: black;
      }
      #center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #center p {
        color: white;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-size: 575px;
      }
    </style>
  </head>
  <body>
    <div id="center">
      <p>NFT</p>
    </div>
  </body>
</html>
