<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <div class="homeContainer">
    <span>
      <a href="/trees/create">Create a Binary Tree</a>
      <a href="/trees/">View Trees</a>
    </span>
  </div>
</body>

</html>