<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="treesContainer">
    <% JSONdata.forEach(data => { %>
    <p>Input: <%= data.input %></p>
    <pre><%- JSON.stringify(data.tree, null, 3) %></pre>
    <hr />
    <% }) %>
  </div>
</body>

</html>