<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="successTxt">
        <p>Something went wrong! Binary tree couldn't be created.</p>
    </div>
  </body>
</html>