<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="successTxt">
        <p>Your binary tree was successfully created :)</p>
    </div>
  </body>
</html>