<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="err_txt">
            <p><b>ERROR:</b> 404 Not Found</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>