<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="err_txt">
    <p><b>ERROR:</b> 502 Bad Gateway</p>
    <p class="err_descrip">Server got an invalid response.</p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>

</html>